@model WebApplication4.Hole

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Hole</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number)
                @Html.ValidationMessageFor(model => model.Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Par, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Par)
                @Html.ValidationMessageFor(model => model.Par)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalYards, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalYards)
                @Html.ValidationMessageFor(model => model.TotalYards)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YardsFromBlue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YardsFromBlue)
                @Html.ValidationMessageFor(model => model.YardsFromBlue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YardsFromWhite, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YardsFromWhite)
                @Html.ValidationMessageFor(model => model.YardsFromWhite)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YardsFromRed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YardsFromRed)
                @Html.ValidationMessageFor(model => model.YardsFromRed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, "Course Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CourseId", String.Empty)
                @Html.ValidationMessageFor(model => model.CourseId)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Score, "Score", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Score", String.Empty)
                @Html.ValidationMessageFor(model => model.Score)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
