@model WebApplication4.Score

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Score</h4>
        <hr />
        @Html.ValidationSummary(true)

        @*<div class="form-group">
            @Html.LabelFor(model => model.id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id)
                @Html.ValidationMessageFor(model => model.id)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreCard.Round.Name, "ScoreCard Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ScoreCardid", String.Empty)
                @Html.ValidationMessageFor(model => model.ScoreCard.Round.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Strokes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Strokes)
                @Html.ValidationMessageFor(model => model.Strokes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hole._Name, "Hole Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Holeid", String.Empty)
                @Html.ValidationMessageFor(model => model.Hole._Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
