@model WebApplication4.Score

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Score</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Strokes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strokes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCard.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCard.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
