@model WebApplication4.ScoreCard

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ScoreCard</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.TotalScore, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalScore)
                @Html.ValidationMessageFor(model => model.TotalScore)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole1)
                @Html.ValidationMessageFor(model => model.ScoreHole1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole2)
                @Html.ValidationMessageFor(model => model.ScoreHole2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole3)
                @Html.ValidationMessageFor(model => model.ScoreHole3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole4, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole4)
                @Html.ValidationMessageFor(model => model.ScoreHole4)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole5, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole5)
                @Html.ValidationMessageFor(model => model.ScoreHole5)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole6, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole6)
                @Html.ValidationMessageFor(model => model.ScoreHole6)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole7, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole7)
                @Html.ValidationMessageFor(model => model.ScoreHole7)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole8, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole8)
                @Html.ValidationMessageFor(model => model.ScoreHole8)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole9, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole9)
                @Html.ValidationMessageFor(model => model.ScoreHole9)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole10, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole10)
                @Html.ValidationMessageFor(model => model.ScoreHole10)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole11, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole11)
                @Html.ValidationMessageFor(model => model.ScoreHole11)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole12, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole12)
                @Html.ValidationMessageFor(model => model.ScoreHole12)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole13, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole13)
                @Html.ValidationMessageFor(model => model.ScoreHole13)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole14, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole14)
                @Html.ValidationMessageFor(model => model.ScoreHole14)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole15, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole15)
                @Html.ValidationMessageFor(model => model.ScoreHole15)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole16, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole16)
                @Html.ValidationMessageFor(model => model.ScoreHole16)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole17, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole17)
                @Html.ValidationMessageFor(model => model.ScoreHole17)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScoreHole18, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScoreHole18)
                @Html.ValidationMessageFor(model => model.ScoreHole18)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlayerId, "PlayerId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PlayerId", String.Empty)
                @Html.ValidationMessageFor(model => model.PlayerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoundId, "RoundId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoundId", String.Empty)
                @Html.ValidationMessageFor(model => model.RoundId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
