@model IEnumerable<WebApplication4.ScoreCard>

@using WebApplication4.Models;

@{
    ViewBag.Title = "Index";
}

@using WebApplication4.Models
<h2> @Html.Image("/Content/Golf5.jpg", "alt", "200")</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TotalScore)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Player.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Round.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TotalScore)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Player.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
