@model IEnumerable<WebApplication4.ScoreCard>

@{
    ViewBag.Title = "Home Page";
}
@using WebApplication4.Models

<div class="page-header">
    <h1>
        @Html.Image("/Content/Golf1.jpg", "alt", "100") Golf Tracker
        <small>Statistics and Analysis</small>
    </h1>
</div>
<p>
    This is your Golf Tracker.  It records players rounds, holes played, and statistics about the golf you play.
    It can also hold names and information about your friends.
</p>
<hr />
<table>
    <tr>
<td> @Html.ActionLink("Create New Profile", "Create", "Player")</td>
    @*<tr>
<td>@Html.ActionLink("Create New Round", "Create", "Round")</td></tr>
    <tr>
<td>@Html.ActionLink("Create New ScoreCard","Create","ScoreCard")</td></tr>*@
   
    </table>
<div class="row">

    <div class="col-sm-3">
        <table><tr><td><h2>Who are you?</h2></td></tr></table>
        <table class="table table-hover">
       
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Player.FullName)
                        
                    </td>
                  
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Player", new { id = item.PlayerId }, null) |
                        @Html.ActionLink("Details", "Details","Player", new { id = item.PlayerId }, null)
                    </td>
                </tr>
            }

        </table>
    </div>

    <div class="col-sm-5">
        <h2>Where did you play?</h2>
        
        <table class="table table-hover">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Round.Name) at
                        @Html.DisplayFor(modelItem => item.Round.Course.Name) on
                        @Html.DisplayFor(modelItem => item.Round.RoundDate)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", "Round", new { id = item.RoundId }, null) |
                        @Html.ActionLink("Details", "Details", "Round", new { id = item.RoundId }, null)
                    </td>
                </tr>
            }

        </table>
    </div>


    <div class="col-md-4">
        <table><tr><td><h2>What was your score?</h2></td></tr></table>

        <table class="table table-hover">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", "ScoreCard", new { id = item.Id }, null) |
                        @Html.ActionLink("Details", "Details", "ScoreCard", new { id = item.Id }, null) |
                        @Html.ActionLink("Delete", "Delete", "ScoreCard", new { id = item.Id }, null)
                    </td>
                </tr>
            }

        </table>


    </div>



</div>
<div class="col-lg-12">
    <h2>Chart</h2>
    A chart goes here.  This is where a chart goes.  It is right here. Somethign like a chart goes
    here.  These are some words.  The words are here.  It is hard to type blah blah.  The blah
    and the blah went blah.





</div>